@import 'partials/variables.scss';
@import 'partials/mixins';

/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: $text-color;
    font-size: $content-size;
    font-family: $text-font;
    line-height: 1.6;
    background-color: $body-background-color;
    font-weight: $font-weight-normal;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 40px 20px;
}


/* Navigation */

nav {
    padding-bottom: 40px;
    
    .navigation__logo {
        text-align: left;
        @include large-screens {
            text-align: center;
        }
    }

    .navigation__list {
        text-align: right;
        @include large-screens {
            text-align: center;
        }
    }

    a {
        @include links;
        font-size: $content-size * 2;
        font-family: cursive;
    }
    a:hover {
        color: $text-secondary-color;
    }

    i {
        font-size: 30px;
        margin: 0 10px;
        color: $text-secondary-color;
    }
}

/* Splash */

.splash {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url('/images/rzeszów_city_5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 85vh;
    color: white;

    &__title {
        font-size: $content-title-size * 1.5;
        font-family: $header-font;
        font-weight: $font-weight-bold;
    }

    &__description {
        font-size: $content-description-size * 1.5;
        font-family: $header-font;
        font-weight: $font-weight-bold;
    }
}










