@import 'partials/variables.scss';
@import 'partials/mixins';
@import 'partials/global';

@import 'partials/navigation';
@import 'partials/splash';
@import 'partials/preview';
@import 'partials/monuments';
@import 'partials/entertain';
@import 'partials/nature';


// Education

.education {

    .accordion-flush {

        .accordion-item {
            border-bottom: 1px solid rgb(129, 0, 129);
            margin: 20px auto;
            width: 90%;

            .accordion-button {
                @include button(rgb(53, 0, 53), rgb(229, 0, 229));
                position: relative;
                height: 125px;
                border-radius: 0%;
                box-shadow: 0 0 10px $text-color;
                font-size: $content-size * 2;
                &::after {
                    display: none;
                }
                span {
                    display: inline-block;
                    position: absolute;
                    top: 27%;
                    right: 5%;
                    width: 1em;
                    height: 1em;
                    border: solid $text-color;
                    border-width: 0 10px 10px 0;
                    transform: rotate(45deg);
                }
            }
            
            .accordion-body {
                background: $body-background-color;
                color: $text-color;
                border: 5px solid rgb(129, 0, 129);
                display: flex;

                &__description {
                    flex: 1;
                }

                &__image {
                    flex: 1;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }   
        }
    }
}


