.form {
  form {
    display: flex;
    flex-wrap: wrap;

    input {
      display: inline-block;
      width: 35%;
      height: 70px;
      margin: 20px auto;
      font-size: $content-size * 1.5;
      border: 5px solid rgb(0, 149, 255);
      box-shadow: 0px 0px 15px rgb(0, 149, 255);
      color: $text-color;
      text-align: center;
      background: transparent;
      @include large-screens {
        width: 80%;
        height: 60px;
        font-size: $content-size * 1.25;
        margin: 10px auto;
        border: 4px solid rgb(0, 149, 255);
        box-shadow: 0px 0px 10px rgb(0, 149, 255);
      }
      @include small-screens {
        font-size: $content-size * 1;
        margin: 10px auto;
        border: 3px solid rgb(0, 149, 255);
        box-shadow: 0px 0px 5px rgb(0, 149, 255);
      }

      &:focus {
        outline: none;
        border: 6px solid rgb(126, 0, 164);
        box-shadow: 0px 0px 20px rgb(126, 0, 164);
        @include medium-screens {
          border: 4px solid rgb(126, 0, 164);
          box-shadow: 0px 0px 12px rgb(126, 0, 164);
        }
      }
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }

    textarea {
      display: inline-block;
      width: 70%;
      height: 200px;
      margin: 40px auto;
      padding: 20px;
      font-size: $content-size * 1.25;
      border: 5px solid rgb(0, 149, 255);
      box-shadow: 0px 0px 15px rgb(0, 149, 255);
      color: $text-color;
      background: transparent;
      @include large-screens {
        width: 80%;
        height: 150px;
        font-size: $content-size * 1;
        margin: 10px auto;
        border: 3px solid rgb(0, 149, 255);
        box-shadow: 0px 0px 5px rgb(0, 149, 255);
      } 
      @include small-screens {
        font-size: $content-size * 0.8;
        margin: 10px auto;
        border: 3px solid rgb(0, 149, 255);
        box-shadow: 0px 0px 5px rgb(0, 149, 255);
      }

      &:focus {
        outline: none;
        border: 6px solid rgb(126, 0, 164);
        box-shadow: 0px 0px 20px rgb(126, 0, 164);
        @include medium-screens {
          border: 4px solid rgb(126, 0, 164);
          box-shadow: 0px 0px 12px rgb(126, 0, 164);
        }
      }
    }

    button {
      @include button(rgb(0, 216, 0),rgb(0, 54, 0));
      display: block;
      width: 450px;
      font-size: $content-size * 2;
      margin: 20px auto;
      @include large-screens {
        width: 300px;
        font-size: $content-size * 1.5;
      }
      @include small-screens {
        width: 80%;
        padding: 15px;
      }
    }
  }

  .form__message {
    font-size: $content-size * 1.5;
    display: none;
    @include medium-screens {
      font-size: $content-size * 1;
    }
  }
}