@mixin tiny-screens () {
    @media only screen and (max-width: 320px) {
        @content;
    }
}

@mixin small-screens () {
    @media only screen and (max-width: 480px) {
        @content;
    }
}

@mixin medium-screens () {
    @media only screen and (max-width: 680px) {
        @content;
    }
}

@mixin large-screens () {
    @media only screen and (max-width: 992px) {
        @content;
    }
}

@mixin extra-large-screens () {
    @media only screen and (max-width: 1400px) {
        @content;
    }
}

@mixin links {
    text-decoration: none;
    color: $links-color;
}

@mixin button ($color-one, $color-two) {
    @include links;
    font-size: $content-size * 1.5;
    font-family: $text-font;
    padding: 10px 20px;
    border-radius: 25%;
    background-color: linear-gradient( to right, $color-one, $color-two);
}

@mixin section-header {
    text-align: center;
    font-family: $header-font;
    font-weight: $font-weight-bold;
    padding: 8px;
}