@mixin tiny-screens () {
    @media only screen and (max-width: 320px) {
        @content;
    }
}

@mixin small-screens () {
    @media only screen and (max-width: 480px) {
        @content;
    }
}

@mixin medium-screens () {
    @media only screen and (max-width: 680px) {
        @content;
    }
}

@mixin large-screens () {
    @media only screen and (max-width: 992px) {
        @content;
    }
}

@mixin extra-large-screens () {
    @media only screen and (max-width: 1400px) {
        @content;
    }
}

@mixin links {
    text-decoration: none;
    color: $links-color;
}

@mixin button ($color-one, $color-two) {
    @include links;
    font-size: $content-size * 1.5;
    font-family: $header-font;
    padding: 20px 40px;
    border-radius: 10%;
    border: 2px solid $color-one;
    box-shadow: 0px 0px 20px $color-one;
    background: linear-gradient(to bottom right, $color-one, $color-two);
    transition: all 1s;
    &:hover {
        box-shadow: 0px 0px 50px $color-one;
        border: 2px solid $color-two;
    }
}

@mixin section-header {
    text-align: center;
    font-family: $header-font;
    font-weight: $font-weight-bold;
    padding: 8px;
}