// THEME ( Allowed values: Dark, Light )
$theme: Dark;

// COLORS

$text-color: rgb(0, 0, 0) !default;
$text-secondary-color: rgb(75, 0, 0) !default;
$links-color: rgb(221, 3, 3) !default;
$body-background-color: linear-gradient(to bottom right, #e6e6ff, #f8ebfc, #d0ffff, #fcf6ce, #d5fcd9) !default;
$body-background-image: url('https://i.postimg.cc/2SvpY9s4/rzesz-w-city-8.jpg') !default;


@if $theme == Dark {
  $text-color:rgba(243, 241, 241, 0.959);
  $text-secondary-color: rgb(65, 55, 0);
  $links-color:  rgb(196, 199, 0);
  $body-background-color: linear-gradient(to bottom right, #00003a, #310000, #002020, #2e2900, #290031);
  $body-background-image: url('https://i.postimg.cc/gJcTXQ3f/rzesz-w-city-6.jpg');
}

// FONTS
$text-font: 'Indie Flower', cursive;
$header-font: "Permanent Marker", cursive;
$font-weight-normal: 400;
$font-weight-bold: 700;


// SIZES
$content-title-size: 60px;
$content-description-size: 26px;
$content-size: 20px;